@use '../abstracts/index' as *;

.logo-container {
  margin: margin(margin-logo-mobile);
  @include media-tablet {
    margin: margin(margin-logo-tablet);
    text-align: left;
  }
  @include media-desktop {
    margin: 3rem auto 7.125rem;
  }
}

.background {
  background: url(../assets/illustration-hero-mobile.png);
  height: 270px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include center-div(480px);

  @include media-mobile {
    background-position: left top;
    background-size: 109%;
  }

  @include media-bigger-tablet {
    display: grid;
    grid-template-columns: 1fr 3fr 0.8fr;
    gap: 1rem;
    max-width: 100vw;
    min-height: 450px;
    background: none;

    > div {
      &:nth-child(1) {
        background: url(../assets/illustration-hero-left.svg);
        background-position: top right;
        background-repeat: no-repeat;
      }
      &:nth-child(2) {
        background: url(../assets/bg-hero-squiggle.svg);
        background-size: cover;
      }
      &:nth-child(3) {
        background: url(../assets/illustration-hero-right.svg);
        background-position: top left;
        background-repeat: no-repeat;
      }
    }
  }

  @include media-desktop {
    min-height: 550px;
    grid-template-columns: 2.5fr 5fr 2.5fr;
  }
}

.heading__content {
  @include media-tablet {
    @include center-div(480px);
  }

  @include media-bigger-tablet {
    max-width: 560px;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include media-desktop {
    max-width: 660px;
  }

  &--title {
    margin: margin(margin-main-heading);
    padding: 0 1.5rem;
    @include media-tablet {
      padding: 0 3rem;
    }
  }

  &--para {
    margin-bottom: 2rem;

    @include media-desktop {
      margin: 1.5rem auto 4rem;
    }
  }
}
