@use '../abstracts/index' as *;

.benefits__card {
  max-width: 400px;

  //styleing the imgs inside size-position
  &:first-child {
    img {
      margin-right: -0.7rem;
    }
  }

  &:nth-child(2) {
    img {
      width: 60px;
    }
  }

  &:nth-child(4) {
    img {
      width: 78px;
    }
  }

  &--img-container {
    height: 124px;
    width: 120px;
    margin: 0 auto;
    background-color: color(color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;

    @include media-tablet {
      height: 124px;
      width: 165px;
    }

    @include media-desktop {
      width: 160px;
      height: 164px;
      margin-left: 0;
    }

    img {
      width: 70px;
    }
  }

  &--content {
    @include media-tablet {
      text-align: left;
    }

    &__title {
      margin: 2rem auto 0.687rem;
      @include media-tablet {
        //to center vertically
        margin: 1rem auto auto;
      }
    }
  }
}
