@use '../abstracts/index' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: color(color-dark);
}

h1,
h2,
h3,
h4 {
  color: color(color-white);
}

p {
  color: color(color-text);
}

header,
section,
footer {
  text-align: center;
  padding: 1rem;
  @include center-div(500px);

  @include media-tablet {
    min-width: 570px;
  }
}

section,
footer {
  margin-top: margin(margin-section);
}

footer {
  margin-bottom: 5rem;
}

main {
  @include media-desktop {
    @include center-div(1100px);
  }
}
